* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-background: black;
    --header-color: white;
    --header-link-hover: lightgrey;
}

.title {
    text-align: center;
    padding-bottom: 0.5em;
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body > * {
    flex: 0;
}

header {
    width: 100%;
    color: var(--header-color);
    background-color: var(--header-background);
    display: flow-root;
    box-shadow: 0 0 10px 5px var(--header-background);
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    margin: 0.4em 1em;
}

header nav li {
    color: var(--header-color);
    font-weight: bold;
}

/*main {*/

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.todo-list {
    width: 500px;
    flex-grow: 1;
    margin-top: 3em;
}

.todo-list li {
    padding: 1em 1em;
    
}

.todo-list ul {
    background-color: ivory;
    border-radius: 12px;
    border: 2px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: hidden;
}

.todo-list li {
    color: chocolate;
    border-bottom: 1px solid black;
    list-style: none;
}

.todo-list li.unchecked::before {
    content: "\f0c8";
    font-family: "Font Awesome 6 Free";
    font-size: 1.3em;
}

.todo-list li.checked::before {
    content: "\f14a";
    font-family: "Font Awesome 6 Free";
    font-size: 1.3em;
}

.column {
    margin-top: 4em;
}

.new-todo{
    text-align: center;
}

.input {
    width: 300px;
    padding: 10px 20px; 
    margin: 15px 60px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}
    
.button {
    background-color: white;
    color: black;
    width: 300px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    display: block;
    font-size: 16px;
    margin: 15px 60px;
    border-radius: 12px;
    border: 2px solid black;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
}

.button:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
}

.notshown {
    display: none;
}

header * {
    color: inherit;
}
/*}*/

header a:hover {
    color: var(--header-link-hover);
}

main {
    flex-grow: 1;
}

footer {
    width: 100%;
    background-color: var(--header-background);
    color: var(--header-color);
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
}

.selected {
    background-color: cyan;
}